*{
    font-family: Arial, sans-serif;
    margin: 0px;
    /* box-sizing: border-box; */
}

.background_image{
    background-image: url(saut.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    
}

.titre{
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: black;
}


.reseau{
    position: absolute;
    flex-direction: column;
    right: 0px;
}

.reseau .utilisateur{
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 17px;
    margin: 10px;
}

.instagram{
    background-image: url(instagram.png);
}
.facebook{
    background-image: url(facebook.png);
}
.linkedin{
    background-image: url(linkedin.png);
}
.twitter{
    background-image: url(twitter.png);
}

.barre_de_gauche{
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 100px;
    border-right: solid;
    border-color: RGBa(178,190,195,0.5);
    width: 200px;
    font-size: 17px;
    margin: 200px 0px 0px 30px;
    padding-right: 40px;
    color: white;
}

.barre_de_gauche .gauche{
    cursor: pointer;
    padding: 10px 7px 10px 7px;
}
.barre_de_gauche .parcours{
    margin: 70px 0px 70px 0px;
}
.barre_de_gauche .interet{
    margin: 70px 0px 70px 0px;
}

.barre_de_gauche .gauche:hover{
    padding-left: 30px ;
    margin-right: -30px;
    right: 10px;
    background-color:RGBa(255,255,255,0.2);
    transition-duration: 1s;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    line-height: 2.5;
    padding: 40px 0px 40px 0px;
}

.texte_presentation{
    background-color:#82ccdd;
}
.texte_parcours{
    background-color: #2d3436;
    color:  #dfe6e9;
    padding: 10px 0px 10px #a29bfe;
}
.texte_interet{
    background-color:#82ccdd;
}
.texte_projet{
    background-color: #2d3436;
    color: #dfe6e9;
    padding: 10px 0px 10px 0px;
}